- [print()](#print)
- [input()](#input)
- [int(input())](#intinput)
- ['   \n   ' ](#bslashn)
- ['   \t    '](#bslasht)
- ["  \ "  " or '  \ '  '](#bslash')
- ["""
<br>"""](#big)
- [triple quotation marks with a space and a \ at the end of the line](#trbs)
- [to include the backslash character in your string](#bplus)
<br>[r' \ '](#bplus)
<br>[' \ \ '](#bplus)
- [Variables and Data Types](#var&types)
- [Python Data Types](#datatypes)
- [Python3 has three numeric data types: int, float, complex](#num)
- [/ division with a float result](#fldiv)
- [// integer division](#intdiv)
- [% remainder](#remainder)
- [Operator Precedence Acronyms](#oper)
- [String Slicing](#slice)
<br>[Slicing is done from left to right.](#slice)
- [Using a Step in a Slice](#step)
- ["".join() method for strings](#join)
- [.split() method for strings](#split)
- [Slicing Backwards](#back)
- [To add line numbers to a Jupyter Notebook is to use the keyboard shortcut, which is Ctrl-m to enter Command Mode, then type L.](#l)
- [Python Sequence Types](#seq)
<br>[string](#seq)
<br>[list](#seq)
<br>[tuple](#seq)
<br>[range](#seq)
<br>[bytes and bytearray](#seq)
- [if a string is a substring](#in)
<br>[today = 'friday'](#in)
<br>['day' in today](#in)
- [String Replacement Fields](#replace)
<br>[1) age = 25](#replace)
<br>[print('My age is {0} years'.format(age))](#replace)
<br>[2) f-strings](#replace) 
<br>[print(f"Pi is approximately {math.pi}.")](#replace)

---

__python.org__

In [1]:
print('try', 'smth', 3)

try smth 3

In [2]:
greeting = 'Hello'
name = input('Please input your name: ')

Please input your name: Tom

In [3]:
print(greeting + ' ' + name)

Hello Tom

In [4]:
number = int(input())

5

In [5]:
type(number)

int

___

__\n__ <br>
(backslash n) in a string causes to start in a new line.

In [6]:
splitString = "This string has been\nsplit over\nseveral\nlines"

In [7]:
print(splitString)

This string has been
split over
several
lines

___

__\t__ 
<br>
tabbed across the string

In [8]:
tabbedString = "1\t2\t3\t4"

In [9]:
print(tabbedString)

1	2	3	4

___

In [10]:
print('The book\'s mine.')

The book's mine.

In [11]:
print("The book\"s mine.")

The book"s mine.

___

In [12]:
anotherSplitString = """This string 
has been
split over
several 
lines"""

In [13]:
print(anotherSplitString)

This string
has been
split over
several
lines

Now if you want to lay out a string with breaks, but don't want every one to start with a new line when printed, then what you can do is escape the end of a line with a backslash.

In [14]:
# at the end of a line put space and \
anotherSplitString1 = """This string has been \
split over \
several \
lines"""

In [15]:
print(anotherSplitString1)

This string has been split over several lines

___

If you want to include the backslash character in your string.

In [16]:
print("C:\Users\timbuchalka\notes.txt")
# \t it's interpreting as a tab character

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-16-6b60bbc95ab9>, line 1)

In [18]:
# So the first way is by putting another backslash before it.
print("C:\\Users\\timbuchalka\\notes.txt")

C:\Users\timbuchalka\notes.txt

In [19]:
# The second way is to use a raw string.
print(r"C:\Users\timbuchalka\notes.txt")

C:\Users\timbuchalka\notes.txt

____

<a id='var&types'></a>
### Variables and Types

A __variable is basically just a way to give a (meaningful) name to an area of memory, into which we can place certain values.__
<br>
<br>
Type, which is also called __data type__, describes __the kind of information that we're storing__.

__string, integer__

In [20]:
print(greeting)

Hello

In [21]:
age = 25
print(age)

25

In [22]:
print(type(greeting))
print(type(age))

<class 'str'>
<class 'int'>

__float__ - 
lets you work with numbers that have a decimal part.

___

<a id='datatypes'></a>
### Python Data Types

Python has several built-in data types, that can be classed as:
<br>
* numeric 
<br>
* iterator
<br>
* sequence (which are also iterators)
<br>
* mapping 
<br>
* file
<br>
* class
<br>
* exception

___

<a id='num'></a>
Python 3 has three __numeric data types__:
<br>
* int
<br>
* float
<br>
* complex _(which contain a real and an imaginary part, based on the square root of minus one)_

In [23]:
a = 12
b = 3
print(a / b)  # 4.0 division produces a float result 
print(a // b) # 4   integer division
print(a % b)  # 0   remainder

4.0
4
0

In [25]:
for i in range(1, a / b):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [26]:
for i in range(1, a//b):
    print(i)

1
2
3

___

<a id='oper'></a>
### Operator Precedence Acronyms

* PEMDAS - __P__arentheses, __E__xponents, __M__ultiplication/__D__ivision, __A__ddition/__S__ubtraction
* BEDMAS - __B__rackets, __E__xponents, __D__ivision/__M__ultiplication, __A__ddition/__S__ubtraction
* BODMAS - __B__rackets, __O__rder, __D__ivision/__M__ultiplication, __A__ddition/__S__ubtraction
* BIDMAS - __B__rackets, __I__ndex, __D__ivision/__M__ultiplication, __A__ddition/__S__ubtraction

_Multiplication and division have equal precedence. Addition and subtraction also have equal precedence._
<br>
_In an expression that mixes operations with equal precedence, they're evaluated from left to right._

___

<a id='slice'></a>
#### String Slicing

_Slicing is done from left to right._

In [1]:
parrot = 'Norwegian Blue'

In [31]:
parrot[0:6] # up to 6th index character BUT NOT Including

'Norweg'

In [32]:
parrot[0:9]

'Norwegian'

In [33]:
parrot[:9]

'Norwegian'

In [40]:
parrot[-4:], parrot[10:]

('Blue', 'Blue')

In [41]:
parrot[:6] + parrot[6:]

'Norwegian Blue'

In [42]:
parrot[:]

'Norwegian Blue'

In [48]:
parrot[-4:-2], parrot[-4:12]

('Bl', 'Bl')

<a id='step'></a>
__Using a Step in a Slice__

In [2]:
parrot

'Norwegian Blue'

In [3]:
parrot[0:6:2] # starts at index 1 and it's slicing every 2nd character

'Nre'

In [4]:
parrot[0:6:3]

'Nw'

In [5]:
number = '9,456;789:909 345,234;123'

In [6]:
separators = number[1::4]
separators

',;: ,;'

In [7]:
"".join(char if char not in separators else " " for char in number)

'9 456 789 909 345 234 123'

In [8]:
values = "".join(char if char not in separators else " " for char in number).split()
values

['9', '456', '789', '909', '345', '234', '123']

In [9]:
[int(i) for i in values]

[9, 456, 789, 909, 345, 234, 123]

<a id='back'></a>
#### Slicing Backwards

_To add __line numbers__ to a Jupyter Notebook is to use the keyboard shortcut, which is __Ctrl-m__ to enter Command Mode, then type __L__._

In [20]:
letters = 'abcdefghijklmnopqrstuvwxyz'

In [21]:
backwards = letters[25:0:-1]
backwards

'zyxwvutsrqponmlkjihgfedcb'

In [22]:
# To include a
letters[25::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [23]:
letters[::-1]

'zyxwvutsrqponmlkjihgfedcba'

In [24]:
letters[16:13:-1]

'qpo'

In [25]:
# edcba
letters[4::-1]

'edcba'

In [26]:
# the last 8 characters in reverse order
letters[:-9:-1]

'zyxwvuts'

In [27]:
letters[-4:]

'wxyz'

In [28]:
letters[-1:]

'z'

In [29]:
letters[:1]

'a'

In [30]:
letters[0]

'a'

---

<a id='seq'></a>
### Python Sequence Types

* string
<br>
* list
<br>
* tuple
<br>
* range
<br>
* bytes and bytearray

*sequence - an ordered set of items*

In [31]:
today = 'friday'

<a id='in'></a>
With these expressions, we are checking if __a string__ like "day" __is a substring__ of the today variable (which is a string).

In [32]:
'day' in today

True

In [33]:
'day' in "today"

True

___

<a id='replace'></a>
### String Replacement Fields

In [34]:
age = 25
print('My age is ' + str(age) + ' years')

My age is 25 years

In [35]:
print('My age is {0} years'.format(age))

My age is 25 years

In [93]:
print('There are {0} days in {1}, {2}, {3}, {4}, {5}, {6} and {7}.'
      .format(31, "Jan", "Mar", "May", "Jul", "Aug", "Oct", "Dec"))

There are 31 days in Jan, Mar, May, Jul, Aug, Oct and Dec.

In [95]:
print('There are {0} days in Jan, Mar, May, Jul, Aug, Oct, Dec.'.format(31))

There are 31 days in Jan, Mar, May, Jul, Aug, Oct, Dec.

In [96]:
print("Jan: {2}, Feb: {0}, Mar: {2}, Apr: {1}, May: {2}, Jun: {1}, Jul: {2}, Sep: {1}, Oct: {2}, Nov: {1}, Dec: {2}"
     .format(28, 30, 31))

Jan: 31, Feb: 28, Mar: 31, Apr: 30, May: 31, Jun: 30, Jul: 31, Sep: 30, Oct: 31, Nov: 30, Dec: 31

In [97]:
print("""
Jan: {2}
Feb: {0}
Mar: {2}
Apr: {1}
May: {2}
Jun: {1}
Jul: {2}
Sep: {1}
Oct: {2}
Nov: {1}
Dec: {2}
""".format(28, 30, 31))

Jan: 31
Feb: 28
Mar: 31
Apr: 30
May: 31
Jun: 30
Jul: 31
Sep: 30
Oct: 31
Nov: 30
Dec: 31

In [35]:
for i in range(1, 13):
    print("No. {0} squared is {1} and cubed is {2}.".format(i, i**2, i**3))

No. 1 squared is 1 and cubed is 1.
No. 2 squared is 4 and cubed is 8.
No. 3 squared is 9 and cubed is 27.
No. 4 squared is 16 and cubed is 64.
No. 5 squared is 25 and cubed is 125.
No. 6 squared is 36 and cubed is 216.
No. 7 squared is 49 and cubed is 343.
No. 8 squared is 64 and cubed is 512.
No. 9 squared is 81 and cubed is 729.
No. 10 squared is 100 and cubed is 1000.
No. 11 squared is 121 and cubed is 1331.
No. 12 squared is 144 and cubed is 1728.

In [36]:
for i in range(1, 13):
    print("No. {} squared is {} and cubed is {}.".format(i, i**2, i**3))

No. 1 squared is 1 and cubed is 1.
No. 2 squared is 4 and cubed is 8.
No. 3 squared is 9 and cubed is 27.
No. 4 squared is 16 and cubed is 64.
No. 5 squared is 25 and cubed is 125.
No. 6 squared is 36 and cubed is 216.
No. 7 squared is 49 and cubed is 343.
No. 8 squared is 64 and cubed is 512.
No. 9 squared is 81 and cubed is 729.
No. 10 squared is 100 and cubed is 1000.
No. 11 squared is 121 and cubed is 1331.
No. 12 squared is 144 and cubed is 1728.

In [37]:
# The numbers aren't lined up. So we can fix that in the output  by applying some formatting. 
# So firstly, I'm going to specify a field width for each of the replacement fields. 
# So all the values for i are a maximum of two digits, because we're, obviously, only counting from 1 to 12 here. 
# So we can use a field width of 2 for the first replacement field.
# I'm going to use a field width of 4 for the other two fields.
# To specify width, we add the width by putting a colon and then the number that we need.

for i in range(1, 13):
    print("No. {0:2} squared is {1:3} and cubed is {2:4}".format(i, i**2, i**3))

No.  1 squared is   1 and cubed is    1
No.  2 squared is   4 and cubed is    8
No.  3 squared is   9 and cubed is   27
No.  4 squared is  16 and cubed is   64
No.  5 squared is  25 and cubed is  125
No.  6 squared is  36 and cubed is  216
No.  7 squared is  49 and cubed is  343
No.  8 squared is  64 and cubed is  512
No.  9 squared is  81 and cubed is  729
No. 10 squared is 100 and cubed is 1000
No. 11 squared is 121 and cubed is 1331
No. 12 squared is 144 and cubed is 1728

In [38]:
for i in range(1, 13):
    print("No. {:2} squared is {:3} and cubed is {:4}.".format(i, i**2, i**3))

No.  1 squared is   1 and cubed is    1.
No.  2 squared is   4 and cubed is    8.
No.  3 squared is   9 and cubed is   27.
No.  4 squared is  16 and cubed is   64.
No.  5 squared is  25 and cubed is  125.
No.  6 squared is  36 and cubed is  216.
No.  7 squared is  49 and cubed is  343.
No.  8 squared is  64 and cubed is  512.
No.  9 squared is  81 and cubed is  729.
No. 10 squared is 100 and cubed is 1000.
No. 11 squared is 121 and cubed is 1331.
No. 12 squared is 144 and cubed is 1728.

In [39]:
# To left align the values we place a < symbol after the colon.

for i in range(1, 13):
    print("No. {0:<2} squared is {1:<3} and cubed is {2:<4}".format(i, i**2, i**3))

No. 1  squared is 1   and cubed is 1
No. 2  squared is 4   and cubed is 8
No. 3  squared is 9   and cubed is 27
No. 4  squared is 16  and cubed is 64
No. 5  squared is 25  and cubed is 125
No. 6  squared is 36  and cubed is 216
No. 7  squared is 49  and cubed is 343
No. 8  squared is 64  and cubed is 512
No. 9  squared is 81  and cubed is 729
No. 10 squared is 100 and cubed is 1000
No. 11 squared is 121 and cubed is 1331
No. 12 squared is 144 and cubed is 1728

___

In [40]:
# that's the general format, and that defaults to printing 15 decimals.
print("Pi is approximately {0:12}".format(22/7))

Pi is approximately 3.142857142857143

In [41]:
# When we specify a floating-point value using the f, we get the default of 6 digits after the decimal point.
print("Pi is approximately {0:12f}".format(22/7))

Pi is approximately     3.142857

In [42]:
# We're still specifying a floating-point format,
# but we also add a precision of 50 and that gives 50 points after the decimal point.
print("Pi is approximately {0:52.50f}".format(22/7))

Pi is approximately 3.14285714285714279370154144999105483293533325195312

In [43]:
# We can't put a value that's got 50 decimals in a field width of 12. 
# Python decides that precision is more important than field width, 
# and ignores the value 12 that we've specified for the width
print("Pi is approximately {0:12.50f}".format(22/7))

Pi is approximately 3.14285714285714279370154144999105483293533325195312

___

#### f-strings

In [44]:
name = "Tim"
age = 24

print(name + ' is ' + age + ' years old.')

TypeError: can only concatenate str (not "int") to str

In [45]:
print(name + f" is {age} years old.")

Tim is 24 years old.

In [46]:
import math
math.pi

3.141592653589793

In [47]:
print(f"Pi is approximately {math.pi}.")

Pi is approximately 3.141592653589793.

In [48]:
print("Pi is approximately {0}.".format(math.pi))

Pi is approximately 3.141592653589793.

In [49]:
print(f"Pi is approximately {math.pi:12.50f}.")

Pi is approximately 3.14159265358979311599796346854418516159057617187500.

In [50]:
for i in range(1, 13):
    print(f"No. {i:2} squared is {i**2:3} and cubed is {i**3:4}.")

No.  1 squared is   1 and cubed is    1.
No.  2 squared is   4 and cubed is    8.
No.  3 squared is   9 and cubed is   27.
No.  4 squared is  16 and cubed is   64.
No.  5 squared is  25 and cubed is  125.
No.  6 squared is  36 and cubed is  216.
No.  7 squared is  49 and cubed is  343.
No.  8 squared is  64 and cubed is  512.
No.  9 squared is  81 and cubed is  729.
No. 10 squared is 100 and cubed is 1000.
No. 11 squared is 121 and cubed is 1331.
No. 12 squared is 144 and cubed is 1728.

___

In [15]:
# What result will this program print?

a = 45
b = 15
c = 3
 
# print(a - b / c)

#### !!! the result of dividing two integers is a float, so the final result will also be a float.

In [16]:
print(a - b / c)

40.0

__b / c__ will be calculated __first__, to give __45 - 5.0__ Because the division gives a float, the result will also be a __float__.

___

In [17]:
# What output will this program produce?

quantity = 10
price = 5.0
total = quantity * price
tax = total / 5
 
Total = total + tax
 
# print(total)

The __Total__ including tax is calculated, but __isn't printed__. The value of __total__ doesn't include the tax.
<br>
__Total__ and __total__ are different variables.

___

In [22]:
days = "Mon, Tue, Wed, Thu, Fri, Sat, Sun"

print(days[::5])

MTWTFSS

____