- [creating a series from a list](#create1)
- [creating a series from a dictionary](#create2)
- [grabbing a value either by its numeric or by labeled index](#grab)
- [.keys()](#keys)
- [.dtype](#dtype)
- [operations between two series](#operations)
- [seriesname1.add(seriesname2, fill_value=)](#seriesname)

___

https://pandas.pydata.org/docs/user_guide/index.html

### <u>Series - Part One

In [2]:
import numpy as np
import pandas as pd

In [3]:
# help(pd.Series)

<a id='create1'></a>
__Creating a series from a list__

In [3]:
myIndex = ['USA', 'Canada', 'Mexico']
myData = [1776, 1867, 1821]

In [5]:
myser = pd.Series(data=myData)

You'll notice that automatically it's going to show you the default numeric index.

In [8]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [9]:
type(myser)

pandas.core.series.Series

But it also can take in index parameter.

In [4]:
myser = pd.Series(data=myData, index=myIndex)
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

Now we can see that the index is this labeled string index.

<a id='grab'></a>

In [14]:
# either by numeric index

myser[0]

1776

In [15]:
# or

myser['USA']

1776

___

<a id='create2'></a>
__We can also create a series from a dictionary.__

In [16]:
ages = {'Sam': 5, 
       'Frank': 10,
       'Spike': 7}

In [17]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

____

### <u>Series - Part Two

In [18]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Companies
q1 = {'Japan': 80,
     'China': 450,
     'India': 200,
     'USA': 250}

q2 = {'Brazil': 100,
     'China': 500,
     'India': 210,
     'USA': 260}

In [19]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)

In [20]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [21]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [22]:
sales_q1['Japan']

80

In [23]:
# or
sales_q1[0]

80

___

<a id='keys'></a>
__`.keys()`__

In [24]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

___

<a id='operations'></a>
__Let's go ahead and discuss the very basics of operations between two series.__

In [27]:
[1, 2] * 2

[1, 2, 1, 2]

In [28]:
# BUT if it's a numpy array

np.array([1, 2]) * 2

array([2, 4])

Since __pandas series is built off a NumPy array__, then the same happens here.

In [30]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [31]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [32]:
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

___

We have information on Japan in q1, but not in q2. Instead, it got replaced by Brazil.

So what happens if I'm trying to calculate my total sales?

In [33]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [ ]:
# NaN - not a number

And this is actually a good way of pandas essentially telling you, Brazil and Japan are not present in both these series.

<a id='seriesname'></a>

Let's say you as the user actually know that to be the case and you want to fill in some value by default when it's not present in the series.

Essentially, for example, you want Brazil in q2 to be 100 and in q1 to be zero.

In [36]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

__Original values were in integers. As soon as you start doing numeric computations with any objects within pandas, it's going to quickly convert them into floating point numbers.__

<a id='dtype'></a>
__You can always specify the data type or change that data type of a pandas series.__

In [37]:
sales_q1.dtype

dtype('int64')

In [38]:
first_half = sales_q1.add(sales_q2, fill_value=0)
first_half

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64

In [39]:
first_half.dtype

dtype('float64')

__Main thing to note here is that when you perform operations with two series, pandas is going to be smart enough to understand that they're labeled and that they should perform the operation on the labels.__