- pwd
- ls
- os.getcwd()
- pd.read_csv()
- pd.read_csv(header=None)
- pd.read_csv(index_col=0)
- DataFrame.to_csv(index=False)

## Check out the references here! 

**This is the best online resource for how to read/write to a variety of data sources!**

https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html

___

## Understanding File Paths

You have two options when reading a file with pandas:

1. If your .py file or .ipynb notebook is located in the **exact** same folder location as the .csv file you want to read, simply pass in the file name as a string, for example:
    
        df = pd.read_csv('some_file.csv')
        
2. Pass in the entire file path if you are located in a different directory. The file path must be 100% correct in order for this to work. For example:

        df = pd.read_csv("C:\\Users\\myself\\files\\some_file.csv")

___

In [5]:
import pandas as pd

In [10]:
pwd

'C:\\Users\\Dell\\Documents\\GitHub\\Tutorials-Studying\\Udemy - 2022 Python for Machine Learning & Data Science Masterclass\\pandas'

List the files in your current directory with ls

In [12]:
ls

 Volume in drive C has no label.
 Volume Serial Number is FC6C-F57E

 Directory of C:\Users\Dell\Documents\GitHub\Tutorials-Studying\Udemy - 2022 Python for Machine Learning & Data Science Masterclass\pandas

04/22/2022  09:15 AM    <DIR>          .
04/22/2022  09:15 AM    <DIR>          ..
04/22/2022  08:29 AM    <DIR>          .ipynb_checkpoints
04/20/2022  09:43 AM            14,846 00-Series.ipynb
04/20/2022  09:43 AM           142,396 01-DataFrames.ipynb
04/20/2022  09:44 AM            57,115 02-Conditional Filtering.ipynb
04/20/2022  09:44 AM           131,577 03-Useful methods.ipynb
04/20/2022  09:44 AM            57,520 04-Missing Data.ipynb
04/20/2022  09:45 AM           221,995 05-groupby Operations, Multilevel Indices.ipynb
04/20/2022  09:45 AM            22,868 06-Combining DataFrames - pd.concat().ipynb
04/20/2022  09:46 AM             9,048 07-Combining DataFrames - Inner Merge.ipynb
04/20/2022  09:46 AM            40,597 08-Combining DataFrames - Left, Right and Outer Merge, some useful methods.ipynb
04/20/2022  09:46 AM            20,166 09-Text Methods for String Data.ipynb
04/22/2022  08:28 AM            39,482 10-Time Methods for Date and Time Data.ipynb
04/14/2022  08:26 AM         1,389,228 20220414_162436.jpg
04/01/2022  02:21 AM               177 movie_scores.csv
04/01/2022  02:21 AM            17,727 mpg.csv
04/22/2022  09:15 AM             5,155 Pandas Input and Output - CSV Files.ipynb
04/01/2022  02:21 AM             5,459 RetailSales_BeerWineLiquor.csv
04/01/2022  02:20 AM            18,752 tips.csv
              17 File(s)      2,194,108 bytes
               3 Dir(s)  144,114,761,728 bytes free

In [13]:
import os
os.getcwd()

'C:\\Users\\Dell\\Documents\\GitHub\\Tutorials-Studying\\Udemy - 2022 Python for Machine Learning & Data Science Masterclass\\pandas'

-----
#### NOTE! Common confusion point! Take note that all read input methods are called directly from pandas with pd.read_  , all output methods are called directly off the dataframe with df.to_

-------

### CSV Input

In [14]:
df = pd.read_csv('example.csv')

In [15]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

It automatically reads in the header - a, b, c, d.

If you don't want it to be the header and you actually want that to be a row instead of column names

In [16]:
pd.read_csv('example.csv', header=None)

    0   1   2   3
0   a   b   c   d
1   0   1   2   3
2   4   5   6   7
3   8   9  10  11
4  12  13  14  15

___

Maybe you want one of the columns to be your index column:

In [19]:
df = pd.read_csv('example.csv', index_col=0)

# And that just says use the zero index column as my actual index in the dataframe.

In [20]:
df

     b   c   d
a
0    1   2   3
4    5   6   7
8    9  10  11
12  13  14  15

### CSV Output

In [21]:
df.to_csv('C:\\Users\\Dell\\Desktop\\testing.csv')

In this case it will save the index. (by default index=True)

Set index=False if you do not want to save the index , otherwise it will add a new column to the .csv file that includes your index and call it "Unnamed: 0" if your index did not have a name. If you do want to save your index, simply set it to True (the default value).

In [22]:
df.to_csv('C:\\Users\\Dell\\Desktop\\testing1.csv', index=False)