In [1]:
import pandas

In [2]:
pandas.__version__

'1.3.3'

In [3]:
print("First: {x}, Second: {y}".format('XXX', 'YYY'))

KeyError: 'x'

In [4]:
print("First: {x}, Second: {y}".format(x='XXX', y='YYY'))

First: XXX, Second: YYY

In [5]:
# strings are case_sensitive

'A' == 'a'

False

In [6]:
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
list(range(2, 5))

[2, 3, 4]

#### list comprehension

In [8]:
x = [1, 2, 3, 4, 5]

In [9]:
out = []
for num in x:
    out.append(num**2)
print(out)

[1, 4, 9, 16, 25]

In [10]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

___

In [11]:
def my_func(name='No Name'):
    print('hello ' + name)

In [12]:
my_func('Jose')

hello Jose

In [13]:
my_func()

hello No Name

___

In [14]:
def square(x):
    return x**2

In [15]:
result = square(2)
print(result)

4

In [16]:
def square(y):
    print(y**2)

In [17]:
result2 = square(2)

4

In [18]:
print(result2)

None

The reason for that being is that only printed out the value for, it didn't actually return it.

And the only way I can save it is if I return it.

___

#### lambda expressions

In [19]:
def times_two(var):
    return var * 2

In [20]:
times_two(3)

6

In [21]:
lambda var: var * 2

____

In [22]:
tweet = "Hello #sports"

In [23]:
tweet.split()

['Hello', '#sports']

In [24]:
tweet.split('#')

['Hello ', 'sports']

___

In [25]:
1 == 1.0

True